@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.spAll{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    mask-image: linear-gradient(rgba(0, 0, 0, 1) 80%, transparent);
    margin-top: 0px;

}
.bkgBody{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partners{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    position: relative;
}

.spContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 40%;
    font-family: 'Righteous', sans-serif;
   position: absolute;
   z-index: 100px;
color: white;
    font-size: 75px;
font-weight: 400;
}
.el2{
    position: absolute;
    left: 0;
    width: 50%;
    bottom: 10%;
    z-index: 1;
}
.box{
    position: absolute;
    z-index: 3;
    left: 20%;
  top: -100px;
  width: 150px;
}
.spContent img{
    width: 200px;
}


.project{
    position: relative;
    width: 100%;
margin-top: 0px;
background-color: transparent;
display: flex;
justify-content: center;
align-items: center;
margin: 200px 0;


}
.projectContent{
    margin-top: 100px;
}
.projectBody{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
    flex-direction: column;
    width: 100%;

}
.el3{
    display: none;
}
.text1{
    background: linear-gradient(91.26deg, #8AD4EC 0%, #EF96FF 21.74%, #FF56A9 54.03%, #FFAA6C 85.28%),
    linear-gradient(91.26deg, #8AD4EC 0%, #EF96FF 21.74%, #FF56A9 54.03%, #FFAA6C 85.28%),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 9vh;
font-weight: 700;

    font-family: "Righteous", sans-serif;
}
.text2{
    color: white;
    font-size: 9vh;
font-weight: 700;

    font-family: "Righteous", sans-serif;
}
.bomb{
    position: absolute;
    left: 100px;
    bottom: 0;
}
.text3{
    color: white;
    font-size: 2vh;
    font-weight: lighter;
    font-family: "Open Sans", sans-serif;
    width: 40%;
    margin-top: 20px;
}
.projectBkg{
    position: relative;
    width: 100%;
}
.projectContent{
    width: 80%;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
}
.projectContent{
    color: white;

display: flex;
justify-content: center;
align-items: center;
}
.projectSqImg{
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* right: 0; */
}

.projectEllipse{
    position: absolute;
    width: 30%;
    top: 0;
    left: 0;
}
.ellipse{
    position: absolute;
    width: 20% !important;
    right: 0;
    transform: rotate(180deg);
}
.stars{
    position: absolute;
    width: 10%;
    top: 0px;
    left: 30px;
}
@media screen and (max-width:1000px) {
   

.partners{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
 margin-top: 100px;

}
.spAll{
 margin-top: 0;
}

.spContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    font-family: 'Red Hat Display', sans-serif;
    margin-top: 0px;
    z-index: 1000;
    font-size: 20px;

}
.spContent img{
    width: 100px;
}

.project{
    position: relative;
    width: 100%;
margin-top: 50px;

}
.projectBkg{
    position: relative;
    width: 100%;
}
.projectContent{
    width: 100%;
    /* position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%); */
    text-align: center;
    margin-top: 50px;
}
.projectContent{
    color: white;
    font-family: 'Red Hat Display', sans-serif;
font-weight: 600;
font-size: 30px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 90%;
}
.projectSqImg{
    width: 100%;
}
/* .projectSqImg img{
    width: 100%;
} */
.projectEllipse{
    position: absolute;
    width: 90%;
    top: -300px;
    left: 0;
}
.stars{
    position: absolute;
    width: 20%;
    top: 0px;
    left: 0;
}
.ellipse{
    position: absolute;
    width: 50% !important;
    right: -10px;
    transform: rotate(180deg);
}
.text1{
    background: linear-gradient(91.26deg, #8AD4EC 0%, #EF96FF 21.74%, #FF56A9 54.03%, #FFAA6C 85.28%),
    linear-gradient(91.26deg, #8AD4EC 0%, #EF96FF 21.74%, #FF56A9 54.03%, #FFAA6C 85.28%),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
font-weight: 700;

    font-family: "Righteous", sans-serif;
}
.text2{
    color: white;
    font-size: 50px;
font-weight: 700;

    font-family: "Righteous", sans-serif;
}
.text3{
    color: rgba(255, 255, 255, 0.841);
    font-size: 15px;
    font-weight: lighter;
    font-family: "Open Sans", sans-serif;
    width: 90%;
    text-align: justify ;
}
.el2{
    position: absolute;
    left: 0;
    width: 100%;
    top: -30%;
    z-index: 1;
}
.el3{
    display: block;
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%,-50%) scale(3);
    width: 100%;

    z-index: -1;
}
.box{
    position: absolute;
    z-index: 3;
    left: 20%;
  top: -50px;
  width: 30%;
}
.projectBody{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
    flex-direction: column;
    padding: 20px;
    
}
}


