@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;600;900&display=swap');
.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #151208;
    margin-top: 70px;
}
.footerBox{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;  
    padding: 40px;
}
.footerBoxLeft{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    font-family: 'Red Hat Display', sans-serif;
font-weight: 400;
font-size: 16px;
color: #898CA9;
gap: 30px;
}
.footerBoxLeftLogo{
    width: 200px;
}
.footerBoxLeftSocials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.footerBoxLeftSocials img{
    height: 30px;
    width: auto;
}
.footerBoxMid{
    color: white;
    text-decoration: underline;
    font-family: 'Red Hat Display', sans-serif;
   font-size: 16px;
   font-weight: 400;
   display: flex;
   justify-content: center;
   align-items: flex-start;
}
.footerBoxRight{
    width: 100%;
}
.footerBoxRight img{
    width: 80%;
}

.foot{
    color: #898CA9;
    font-family: 'Red Hat Display', sans-serif;
font-weight: 400;
font-size: 16px;
text-align: center;
width: 100%;
padding: 10px;
border-top: 1px solid #6C6C6C;
}

@media screen and (max-width:1000px) {
    .footer{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #151208;
        margin-top: 70px;
    }
    .footerBox{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;  
        padding: 20px;
    }
    .footerBoxLeft{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #898CA9;
    gap: 30px;
    }
    .footerBoxLeftLogo{
        width: 200px;
    }
    .footerBoxLeftSocials{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .footerBoxLeftSocials img{
        height: 30px;
        width: auto;
    }
    .footerBoxMid{
        color: white;
        text-decoration: underline;
        font-family: 'Red Hat Display', sans-serif;
       font-size: 16px;
       font-weight: 400;
       display: flex;
       justify-content: center;
       align-items: flex-start;

    }
    .footerBoxRight{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footerBoxRight img{
        width: 80%;
    }
    
    .foot{
        color: #898CA9;
        font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    font-size: 10px;
    text-align: center;
    width:max-content;
    padding: 10px;
    border-top: 1px solid #6C6C6C;
    } 
}